
<launch>
  <include file="$(find mk1000_dual_franka_franka_hand_moveit_config)/launch/frankd_driver.launch">
    <arg name="ns" value="left_arm"/>
    <arg name="robot_ip" value="192.168.60.60"/>
    <arg name="robot" value="fr3"/>
    <arg name="arm_id" value="left_fr3"/>
    <arg name="cpu_core" value="2"/>
    <arg name="start_delay" value="0"/>
    <arg name="traj_delay"  value="1"/>
    <arg name="rt_prio" value="90"/>
    <arg name="traj_controller" value="position_joint_trajectory_controller"/>
  </include>

  <include file="$(find mk1000_dual_franka_franka_hand_moveit_config)/launch/frankd_driver.launch">
    <arg name="ns" value="right_arm"/>
    <arg name="robot_ip" value="192.168.61.61"/>
    <arg name="robot" value="fr3"/>
    <arg name="arm_id" value="right_fr3"/>
    <arg name="cpu_core" value="4"/>
    <arg name="start_delay" value="3"/>
    <arg name="traj_delay"  value="5"/>
    <arg name="rt_prio" value="90"/>
    <arg name="traj_controller" value="position_joint_trajectory_controller"/>
  </include>
</launch>
