<launch>

    <arg name="load_robot_description" default="true" />
    <arg name="NO_GUI_CTRL" default="false" />
    <arg name="no_gui_plan" default="false" />
    <!-- option to show rviz or not -->
    <arg name="show_rviz" default="true" />
    <arg name="jnt_stat_pub_rate" default="10" />
    <arg name="allow_trajectory_execution" default="true" />
    <!-- common: bring up node to enable real franka control -->
    <!-- <include file="$(find mk1000_dual_franka_franka_hand_moveit_config)/launch/franka_control.launch">
    </include> -->


    <include file="$(find mk1000_dual_franka_franka_hand_moveit_config)/launch/moveit_rviz_common.launch">
        <arg name="jnt_stat_source" value="[/right_arm/joint_states,/left_arm/joint_states]" />
        <!-- <arg name="jnt_stat_source" value="[/left_arm/joint_states]" /> -->
        <arg name="jnt_stat_pub_rate" value="$(arg jnt_stat_pub_rate)" />
        <arg name="show_rviz" value="$(arg show_rviz)" />
        <arg name="NO_GUI_CTRL" value="$(arg no_gui_plan)" />
        <arg name="allow_trajectory_execution" value="$(arg allow_trajectory_execution)" />
        <arg name="load_robot_description" value="$(arg load_robot_description)" />
    </include>


</launch>